# Node
node_modules
core/pnpm-lock.yaml
.npm
.nvmrc
*.log
npm-debug.log*

# IDE (including symlinks)
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/extensions.json
.idea
.github
.classpath
.settings
.metadata
.gradle
.project
*.iml
*.launch
atlassian-ide-plugin.xml

# Other
.DS_Store
.envrc

# Legal files copied into packages by copyLegalFiles task
*/LICENSE
*/NOTICE
*/THIRD_PARTY_NOTICES
*/licenses

# Build artifact
com.mgmtp.a12-*.tgz
*.tsbuildinfo
cyclonedx.json
atlas-archives

# Maven
.maven

# Build folder
build
lib
target
dist
generated
playwright-report
coverage
test-results
server/src/main/resources/models
server/bin
showcase-models-converters/bin
dataservices-server.log.*.gz

# LLM
.serena
.playwright-mcp
